@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap");

h1,h2,h3,h4,h5,h6,p {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: inherit;
}

div,nav,ul {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-width: thin; /* Para Firefox */
  scrollbar-color: transparent transparent; /* Para Firefox */
}

body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: normal;
  font-style: normal;
  background-color: #0f1624;
  color: #fff;
}

body::-webkit-scrollbar { /* Para Chrome, Safari y Edge */
  width: 0;
  height: 0;
}

.cont-exterior {
  padding: 0 20px;
}

.cont-interior {
  margin: 0 auto;
}

.main-flex {
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.plain-text {
  color: #929eb0;
}

.redes {
  width: 135px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.redes > a {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
}

.redes i {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #ffffff;
  transition: color 1s ease;
}

.redes i:hover {
  background: linear-gradient(270deg, #13ADC7, #6978D1, #945DD6);
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent; 
  color: transparent; 
}

.icon{
  font-size: 30px;
}

.button div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 156px;
  height: 55px;
  border-radius: 43.598px;
  border: none;
  background-image: linear-gradient(270deg, #13adc7 0%, #6978d1 66.67%, #945dd6 100%);
  box-shadow: 0px 10px 30px 0px rgba(0, 178, 255, 0.35);
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease, transform 0.2s ease;
}
.button div:hover {
  background-image: linear-gradient(270deg, #31cbe5 0%, #8796ef 66.67%, #b27bf4 100%);
  box-shadow: 0px 10px 30px 0px rgba(0, 178, 255, 0.5);
  transform: scale(1.05);
}

.button div:active {
  background-image: linear-gradient(270deg, #008fa9 0%, #4b5ab3 66.67%, #6c35ae 100%);
  box-shadow: 0px 10px 30px 0px rgba(147, 94, 214, 0.35);
  transform: scale(0.95);
}

.section-titulo {
  font-size: 20px;
  font-weight: 600;
}

.section-content {
  padding-top: 30px;
}

.menu {
  padding-top: 40px;
}
.cont_menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 30px;
  align-items: center;
}
.menu_logo {
  font-size: 24px;
}
.menu_categorias {
  margin: 0 auto;
  width: 100%;
}
.menu_categorias > ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.hero {
  padding: 60px 0;
}

.cont_hero {
  width: 260px;
  margin: 0 auto;
}

.hero_titulo {
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 600;
}

.hero_titulo span {
  background: linear-gradient(270deg, #13adc7 0%, #6978d1 66.67%, #945dd6 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.hero_desc {
  margin-bottom: 30px;
}

.hero_foto {
  margin-bottom: 46px;
  width: 207px;
  height: 207px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(326.6deg, #13adc7 21.25%, #6978d1 58.73%, #945dd6 77.47%);
  border-radius: 50%;
  box-shadow: 0px 20px 50px 0px rgba(0, 178, 255, 0.25);
  position: relative;
}

.hero_foto > img {
  width: 205px;
  border-radius: 50%;
  filter: brightness(1.2) saturate(0%);
  transition: filter 1s ease-in-out;
}

.hero_foto img:hover {
  filter: brightness(1) saturate(100%);
}

.hero_foto::before {
  content: "";
  display: block;
  width: 367px;
  height: 367px;
  position: absolute;
  background: url("../img/big-ellipse.svg") center/cover no-repeat;
  top: 2px;
  left: -200px;
  z-index: -2;
}

.hero_foto::after {
  content: "";
  display: block;
  width: 113px;
  height: 113px;
  position: absolute;
  background-image: linear-gradient(321.62deg, #13adc7 9.27%, #6978d1 59.96%, #945dd6 85.3%);
  top: 128px;
  left: 147px;
  border-radius: 50%;
  z-index: -1;
  filter: drop-shadow(0px 10px 30px rgba(0, 178, 255, 0.35));
}

.proyectos {
  margin-top: -10px;
}

.cont_proyectos {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.proyectos .proyecto {
  min-width: 290px;
  max-width: 570px;
  background-image: linear-gradient(321.62deg, #13adc7 9.27%, #6978d1 59.96%, #945dd6 85.3%);
  border-radius: 25px;
  padding: 1px;
  display: flex;
}

.proyectos .proyecto_content {
  background-color: #0f1624;
  border-radius: 25px;
  display: flex;
}

.proyectos .proyecto_cont {
  padding: 28px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: space-between;
}

.proyectos .proyecto_imagen img {
  width: 100%;
}

.proyectos .proyecto_header {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
}

.proyectos .proyecto_opc {
  display: inline-flex;
  gap: 5px;
}

.proyectos .proyecto_button_l div {
  width: 146px;
}

.proyectos .proyecto_button_r div {
  width: 109px;
  background-color: #0f1624;
  background-image: none;
  box-shadow: none;
  border: 1px solid #fff;
}

.cont_tecno {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.tecno .tecno-item {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.tecno .tecno-item_desc {
  display: flex;
  justify-content: space-between;
}

.tecno .tecno-item_titulo, .tecno .tecno-item_nivel {
  font-size: 12px;
  font-weight: 500;
}

.tecno .tecno-item_barra-exterior {
  height: 10px;
  border-radius: 35px;
  background-color: #162950;
}

.tecno .tecno-item_barra-interior {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(270deg, #13adc7 0%, #6978d1 66.67%, #945dd6 100%);
  border-radius: 35px;
  box-shadow: 0px 10px 30px 0px rgba(0, 178, 255, 0.35);
}

.extra_lista-item {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  -moz-column-gap: 30px;
  column-gap: 30px;
}

.extra_item {
  display: block;
  width: 45%;
  font-size: 16px;
  font-weight: 600;
}

.extra_item::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background-image: linear-gradient(326.6deg, #13adc7 21.25%, #6978d1 58.73%, #945dd6 77.47%);
  border-radius: 50%;
  margin-right: 10px;
  box-shadow: 0px 10px 30px 0px rgba(0, 178, 255, 0.35);
}

.about {
  padding-bottom: 92px;
}

.about_linea-temporal {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.about .item {
  flex: 0 1 260px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.about .item_año {
  font-size: 16px;
  font-weight: 600;
}

.about .item_separador {
  width: 12px;
  height: 12px;
  background-image: linear-gradient(326.6deg, #13adc7 21.25%, #6978d1 58.73%, #945dd6 77.47%);
  box-shadow: 0px 10px 30px 0px rgba(0, 178, 255, 0.35);
  border-radius: 50%;
  position: relative;
}

.about .item_separador::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 156px;
  height: 2px;
  background-color: #fff;
  top: 5px;
  z-index: -1;
  left: 3px;
}

.about .item_texto {
  color: #929eb0;
}

.about .item:last-of-type .item_separador::after {
  display: none;
}

.contactos {
  padding-bottom: 60px;
}

.cont_contactos {
  display: flex;
  justify-content: space-between;
}

.contactos_cta {
  background: linear-gradient(270deg, #13adc7 0%, #6978d1 66.67%, #945dd6 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.scroll-button {
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 43.598px;
  border: none;
  background-image: linear-gradient(270deg, #13adc7 0%, #6978d1 66.67%, #945dd6 100%);
  box-shadow: 0px 10px 30px 0px rgba(0, 178, 255, 0.35);
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease, transform 0.2s ease;
}

.scroll-button:hover {
  background-image: linear-gradient(270deg, #31cbe5 0%, #8796ef 66.67%, #b27bf4 100%);
  box-shadow: 0px 10px 30px 0px rgba(0, 178, 255, 0.5);
  transform: scale(1.05);
}

.scroll-button:active {
  background-image: linear-gradient(270deg, #008fa9 0%, #4b5ab3 66.67%, #6c35ae 100%);
  box-shadow: 0px 10px 30px 0px rgba(147, 94, 214, 0.35);
  transform: scale(0.95);
}

.scroll-button svg {
  width: 20px;
  height: 20px; 
}
